<div style="margin-left:30px;">
	
	
	<br /><br />
	<%= link_to "Creating, editing, and deleting Entities", :controller=>:test, :action=>:entity_manager %>
			
	<br /><br />
	<%= link_to "Creating, editing, and deleting Items (Documents)", :controller=>:test, :action=>:items %>
			
	<br /><br />
	<%= link_to "Ceating, editing, and deleting metadata about Collections", :controller=>:test, :action=>:collections %>
			
	<br /><br />
	<%= link_to "Adding and removing collections and items into collections", :controller=>:test, :action=>:collection_content %>

	<br /><br />
	<%= link_to "Adding workflow stamps to items", :controller=>:test, :action=>:workflow_stamps %>

</div>
