<% content_for :head do %>
	<%= stylesheet_link_tag "entitymgr.css" %>
	
	<script type="text/javascript">
	
		$(document).ready(function() 
		{
		   $("#edit_form").submit(function(event)
		   {
				//Prevent normal form submission
				event.preventDefault();
				
				//getting data from the form
				var $form = $(this),
				    term = $form.find('textarea[name="xml"]').val(),
				    pid = $form.find('input[name="pid"]').val();
				    parent = $form.find('input[name="parent"]') != null ? $form.find('input[name="parent"]').val() : null;
				
				var args = (pid != null && pid != "") ? {xml: term, id: pid} : {xml: term};
				var $url = '<%= url_for :controller=>@api_controller, :action=>:save -%>';
				var params = parent != null ? {xml: term, id: pid, parent: parent} : {xml: term, id: pid};
				$.post($url, params,
									function(data)
									{
								  		
								  		if(data != "-1")
								  		{
								  			window.location="<%= url_for(:controller=>:test, :action=>@test_action) -%>/?id=" + data;
								  		}
								  		else
								  		{
								  			alert("Failed to update the <%=@object_type-%>!!")
								  		}
								   	});
			
			});	//End: $("#edit_form").submit(function(event)	 
		 }); //End: $(document).ready(function()
		 
		 function delete_object(objectId)
		 {
		 	if(!confirm ('DELETE ' + objectId + '??'))
		 		return;
		 		
		 	var $url = '<%= url_for :controller=>@api_controller, :action=>:delete -%>';
		 	var args = {id: objectId};

			$.post($url, args,
							function(data)
							{
						  		
						  		if(data != "-1")
						  		{
						  			window.location="<%= url_for(:controller=>:test, :action=>@test_action) -%>";
						  		}
						  		else
						  		{
						  			alert("Failed to delete the <%=@object_type-%>!!")
						  		}
						   }); //End: .post
		 } //End: function delete_object(objectId)
	</script>
<% end %>

<div id="left">

	<div class="sub-title"><%=@object_type-%> ID</div>
	<% @object_list.each do |x| %>
		<div class="entity-id">
			<a href="<%=url_for :controller=>:test, :action=>@test_action-%>?id=<%=x.pid-%>"><%=x.pid%></a>&nbsp; |&nbsp;
			<a href="" onClick="delete_object('<%=x.pid%>'); return false;">[delete]</a>
		</div>
	<% end %>
	
	<% unless @parent_ids.nil? %>
	  <br />
	  <div class="sub-title">Potential Parent IDs</div>
	  <% @parent_ids.each do |x| %>
	    <div class="entity-id">
	    	<%=x.pid-%>
	    </div>
	  <% end %>
	
	<% end %>

</div>

<div id="right">
	<div id="create-panel">
		<div id="editor_title" class="page-title"> <% if !@object.nil?%> Update <%=@object.pid%><% else %>Input Information for a New <%=@object_type-%><% end %></div>
		
		<form action="#" id="edit_form" method="post">
			<% pid = @object.nil? || @object.pid.nil? ? "" : @object.pid %>
			<input type="hidden" name="pid" id="active_pid" value="<%= pid %>" />
			XML Description:<br />
			<textarea id="new_entity_editor" class="entity_editor" name="xml"><%= @object.get_xml_description unless @object.nil? %></textarea>
			
			<% if @show_parent_collection_field %>
			<br ><br >
			List of Parent Collections:<br />
			<% parents = Array.new %>
			<% unless @object.nil? %>
				<% @object.get_parent_ids.each do|pid|%>
					<% parents.push(pid) %>
				<% end %>
			<% end %>
			<%= parents.join(", ") %>
			<br /><br />
			IDs of new Parent Collections (optional, separate multiple IDs by commas): <input type="text" name="parent" id="parent" value="" style="width:600px;" />
			<% end %>
			<br /><br />
			<% label = @object.nil? ? "Create" : "Update" %>
			<%= link_to "Reset", :controller=>:test, :action=>@test_action %> | <input type="submit" value="<%= label -%>" id="create_button" />
		</form>
	</div>

</div>

<div class="clear"></div>




