<% content_for :head do %>
  <%= stylesheet_link_tag "entitymgr.css" %>
  
  <script type="text/javascript">
  
    $(document).ready(function() 
    {
       $("#edit_form").submit(function(event)
       {
        //Prevent normal form submission
        event.preventDefault();
        
        //getting data from the form
        var $form = $(this),
            term = $form.find('textarea[name="xml"]').val(),
            pid = $form.find('input[name="pid"]').val();
        
        var args = {xml: term, id: pid};
        var $url = '<%= url_for :controller=>:item, :action=>:add_workflow_stamp -%>';
        $.post($url, args,
                        function(data)
                        {
                            alert(data)
                            if(data != "-1")
                            {
                              window.location="<%= url_for(:controller=>:test, :action=>:workflow_stamps) -%>/?id=" + data;
                            }
                            else
                            {
                              alert("Failed to add the workflow stamp!!")
                            }
                          });
      
      }); //End: $("#edit_form").submit(function(event)  
     }); //End: $(document).ready(function()
     
  </script>
<% end %>

<div id="left">

  <div class="sub-title"><%=@object_type-%> ID</div>
  <% @object_list.each do |x| %>
    <div class="entity-id">
      <a href="<%=url_for :controller=>:test, :action=>:workflow_stamps-%>?id=<%=x.pid-%>"><%=x.pid%></a>&nbsp; |&nbsp;
      <a href="" onClick="delete_object('<%=x.pid%>'); return false;">[delete]</a>
    </div>
  <% end %>

</div>

<% unless @object.nil? %> 
	<div id="right">
	  <div id="create-panel">
	    <div id="editor_title" class="page-title"> Current workflow stamps in <%=@object.pid%></div>
	    <div id="workflow-stamp-history" style="border:solid 1px #444; padding:5px;">
	    </div>
	    <br /><br />
	    
	    <form action="#" id="edit_form" method="post">
	      <input type="hidden" name="pid" id="active_pid" value="<%= @object.pid %>" />
	      <textarea id="new_entity_editor" class="entity_editor" name="xml"></textarea>
	      <br />
	      <%= link_to "Reset", :controller=>:test, :action=>:workflow_stamps %> | <input type="submit" value="Add Workflow Stamp" id="create_button" />
	    </form>
	  </div>
	</div>
<% end %>
<div class="clear"></div>


<% unless @object.nil? %> 
	<script type="text/javascript">
		//Loading all workflow stamps using the API call
		var $url = '<%= url_for :controller=>:item, :action=>:get_workflow_stamps, :id=>@object.pid -%>';
		
		$.get($url, function(data){
			$('#workflow-stamp-history').html(data);
		});//End: $.get
	</script>
<% end %>



