<!DOCTYPE html>
<html>
<head>
  <title>CwrcPlatform</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  
  <%= yield :head %>
</head>
<body>
	<div id="page">
		<div class="test-site-title">
			<%= link_to "CWRC API Test Page", :controller=>:test, :action=>:index -%>
		</div>
		<% if !flash[:error].nil? %> <div class="error"><%=flash[:error]%></div> <% end %>
		
		<div id="page-content">
			<%= yield %>
		</div>		
	</div>
</html>
