<!DOCTYPE html>
<html>
<head>
  <title>CwrcPlatform</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  
<script type="text/javascript">

	function submit_form(formName)
	{
	    //var term = f.find('textarea[name="xml"]').val();
	    //var pid = f.find('input[name="pid"]').val();
	
		//updating existing record
		//var $url = f.action;
		
		var $form = document.forms[formName];
		var $url = $form.action;
		var $xml = $form.elements["xml"].value
		var $pid = $form.elements["id"].value
		
		var params = ($pid == "") ? {xml: $xml} : {xml: $xml, id: $pid};
		
		$.post($url, params, function(data)
		{
	  		if(data != "-1")
	  		{
	  			<% 
	  				x = url_for(:controller=>:test, :action=>:index)
	  				idx = x.rindex('/')
	  				x = x[0,idx]
	  			%>
	  			window.location="<%= x -%>/?itemId=" + data;
	  		}
	  		else
	  		{
	  			alert("Failed to update the entity!!")
	  		}
	   	});
	}

</script>
  
  <%= yield :head %>
</head>
<body>
	<div id="page">
		<div class="test-site-title">
			CWRC API Test Page
		</div>
		<% if !flash[:error].nil? %> <div class="error"><%=flash[:error]%></div> <% end %>
		
		<div id="page-content">
			<%= yield %>
		</div>		
	</div>
</html>
