<!DOCTYPE html>
<html>
<head>
  <title>CwrcPlatform</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  
  <%= yield :head %>
  
  <script type="text/javascript">
	jQuery(window).load(function ()
	{
		setTimeout( function() 
			{
				var date = new Date();
				$('#secret-timestamp').text(date.getTime());
			}, 
			200 );
	});  	
  </script>
</head>
<body>
	<div id="page">
		<div class="test-site-title">
			<%= link_to "CWRC API Test Page", :controller=>:test, :action=>:index -%>
			<div style="float:right;font-size:11pt;color:blue;"><a style="color:blue;text-decoration:underline;" href="https://sites.google.com/a/ualberta.ca/cwrc-technical/home/cwrc-vre/apis/platform-api" target="_blank">API Documentation</a></div>
		</div>
		<% if !flash[:error].nil? %> <div class="error"><%=flash[:error]%></div> <% end %>
		
		<br /><br />
		
		
		<div id="page-content">
			<%= yield %>
		</div>		
	</div>
	
	<!--We need the following hidden timestamp for the test suite. -->
	<div id="secret-timestamp" style="display:hidden"></div>
</body>
</html>
