<!DOCTYPE html>
<html>
<head>
  <title>CwrcPlatform</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page">
		<% if !flash[:error].nil? %> <div class="error"><%=flash[:error]%></div> <% end %>
		<% if !flash[:notice].nil? %> <div class="notice"><%=flash[:notice]%></div> <% end %>
		
		<%= yield %>
		
	</div>
</html>
